body {
  position: relative;
  width: 100%0px;
  height: 780px;
  background-image: url(/public/main@3x.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  text-align: left;
  font-size: var(--body-regular-34-size);
  color: var(--medium-gray);
  font-family: var(--body-semibold-30);
  
  
  font-size: 20px;
}

h1 {
  color: red;
 
  font-size: 30px;
  text-align: center;
  align-self: stretch;
  position: relative;
  font-weight: 600;
  background-color: var(--dark-gray);
  box-shadow: var(--button-selected);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: var(--br-5xs);
  height: 96px;
  flex-shrink: 0;
}


p {
  font-size: 24px;
  color: black;
  font-style: oblique;
  text-align: center;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

button {
  background-color: rgb(255, 0, 0);
  border: none;
  color: rgb(0, 0, 0);
  font-family: 'Star Jedi', sans-serif;
  font-size: 15px;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*margin: 20px 0;*/
}

.category h1 {
  margin-right: 20px;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.navigation-buttons button {
  margin: 0 10px;
}


@font-face {
  font-family: 'Star Jedi';
  src: url('path/to/StarJedi.ttf');
}



.buttons {
  position: absolute;
  top: 105px;
  left: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--white);
}

.buttons1 {
  position: absolute;
  top: 334px;
  left: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--white);
}

.buttons2 {
  position: absolute;
  top: 555px;
  left: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--white);
}

.corrects {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 960px;
  height: 116px;
  flex-shrink: 0;
}

.corrects2 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 960px;
  height: 116px;
  flex-shrink: 0;
}

.corrects3 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 960px;
  height: 116px;
  flex-shrink: 0;
}

